/* Color Palette
  Orange: #EE5425
  Green: #36A73D
  white
*/

.orange{
  background: #EE5425;
}
.green{
background: #36A73D;
}

.mySlides {display: none}


.logo-padding{
  padding-top: 10%;
}

.margin{
  margin-left: -30px;
}